# **C-HACK Tutorial 3: Functions and Pandas Introduction**

**Instructor**: Dave Beck<br>
**Contact**: dacb@uw.edu

**Acknowlegements**: Dave would like acknowledge the entire C-Hack hackmaster team for review and comments on the tutorial.  In particular, this tutorial was reviewed by:
* Anne Farley
* Michael Mosqueda
* Dia Nguyen

---

Today, we will discuss **_functions_** in more depth.  We've seen them previously and used them, for example the `.append()` **_function_**.  Here, we'll dig into how you can make your own functions to encapsulate code that you will reuse over and over.  

Then we'll jump into the **Pandas** package.  Packages are collections of related functions.  These are the things we `import`. Pandas is a two dimensional data structure like a spreadsheet in Excel.

### 3.1 Review from Tutorial on Data Structures and Flow Control

In our last tutorial, we discussed **_lists_**, **_dictionaries_**, and **_flow control_**.

**_Lists_** are **_ordered collections_** of data that can be used to hold multiple pieces of information while preserving thier order.  We use `[` and `]` to access elements by their indices which start with `0`.  All things that operate on **_lists_** like slices use the concept of an inclusive lower bound and an exclusive upper bound.  So, the following gets elements from the **_list_** `my_list` with index values of `0`, `1`, and `2`, but **not** `3`!

```
my_list[0:3]
```

It is equivalent to what other way of writing the same statement using **_slicing_**?  Hint, think about leaving out one of the numbers in the slice!

**_Dictionaries_** are **_named_** **_collections_** of data that can be used to hold multiple pieces of information as **_values_** that are addressed by **_keys_** resulting in a **_key_** to **_value_** data structure.  They are accessed with `[` and `]` but intialized with `{` and `}`.  E.g.

```
my_dict = { 'cake' : 'Tasty!', 'toenails' : 'Gross!' }
my_dict['cake']
```

Finally, we talked about **_flow control_** and using the concept of **_conditional execution_** to decide which code statements were executed.  Remember this figure?

<img src="https://docs.oracle.com/cd/B19306_01/appdev.102/b14261/lnpls008.gif">Flow control figure</img>

What are the **_if_** statments?

Where do **_for_** loops fit in?

What was the overarching concept of a **_function_**?

### 3.2 Functions

For loops let you repeat some code for every item in a list.  Functions are similar in that they run the same lines of code for new values of some variable.  They are different in that functions are not limited to looping over items.

Functions are a critical part of writing easy to read, reusable code.

Create a function like:
```
def function_name (parameters):
    """
    optional docstring
    """
    function expressions
    return [variable]
```

_Note:_ Sometimes I use the word argument in place of parameter.

Here is a simple example.  It prints a string that was passed in and returns nothing.

```
def print_string(str):
    """This prints out a string passed as the parameter."""
    print(str)
    return
```

In [ ]:
def print_string(string):
    """This prints out a string passed as the parameter."""
    print(string)
    return

To call the function, use:
```
print_string("Dave is awesome!")
```

_Note:_ The function has to be defined before you can call it!

In [ ]:

print_string()

TypeError: ignored

In [ ]:
print_string("Dave is OK")
print("the function has ended")

Dave is OK
the function has ended

If you don't provide an argument or too many, you get an error.

In [ ]:
print_string(print_string)

<function print_string at 0x7f0e61a29620>

In [ ]:
def my_func(a_number, b_number):
  return [a_number, b_number, a_number * b_number]

my_func_result = my_func(3, 4)

my_func_result[2]

12

#### 3.2.1 Function Parameters

Parameters (or arguments) in Python are all passed by reference.  This means that if you modify the parameters in the function, they are modified outside of the function.

See the following example:

```
def change_list(my_list):
   """This changes a passed list into this function"""
   my_list.append('four');
   print('list inside the function: ', my_list)
   return

my_list = [1, 2, 3];
print('list before the function: ', my_list)
change_list(my_list);
print('list after the function: ', my_list)
```

In [ ]:
def change_list(a_list):
   """This changes a passed list into this function"""
   a_list.append('four');
   print('list inside the function: ', a_list)
   return

my_list = [1, 2, 3];
print('list before the function: ', my_list)
change_list(my_list);
print('list after the function: ', my_list)

list before the function:  [1, 2, 3]
list inside the function:  [1, 2, 3, 'four']
list after the function:  [1, 2, 3, 'four']

In [ ]:
def a_func(a_num):
  a_num = 4
  print(a_num)
  return

my_num = 42
a_func(42)
print("returned")
print(my_num)

4
returned
42

#### 3.2.2 For advanced folks...

Variables have scope: **_global_** and **_local_**

In a function, new variables that you create are not saved when the function returns - these are **_local_** variables.  Variables defined outside of the function can be accessed but not changed - these are **_global_** variables, _Note_ there is a way to do this with the **_global_** keyword.  Generally, the use of **_global_** variables is not encouraged, instead use parameters.

```
my_global_1 = 'bad idea'
my_global_2 = 'another bad one'
my_global_3 = 'better idea'

def my_function():
    print(my_global_1)
    my_global_2 = 'broke your global, man!'
    global my_global_3
    my_global_3 = 'still a better idea'
    return
    
my_function()
print(my_global_2)
print(my_global_3)
```

In [ ]:
my_global_1 = 'bad idea'
my_global_2 = 'another bad one'
my_global_3 = 'better idea'

def my_function():
    print(my_global_1)
    my_global_2 = 'broke your global, man!'
    global my_global_3
    my_global_3 = 'still a better idea'
    return
    
my_function()
print(my_global_2)
print(my_global_3)

In general, you want to use parameters to provide data to a function and return a result with the `return`. E.g.

```
def sum(x, y):
    my_sum = x + y
    return my_sum
```

If you are going to return multiple objects, what data structure that we talked about can be used?  Give and example below.

#### 3.2.3 Parameters have four different types:

| type | behavior |
|------|----------|
| required | positional, must be present or error, e.g. `my_func(first_name, last_name)` |
| keyword | position independent, e.g. `my_func(first_name, last_name)` can be called `my_func(first_name='Dave', last_name='Beck')` or `my_func(last_name='Beck', first_name='Dave')` |
| default | keyword params that default to a value if not provided |

In [ ]:

my_func("Beck", "Dave")

```
def print_name(first, last='the C-Hacker'):
    print(f'Your name is {first} {last}')
    return
```

In [ ]:
def print_name(first, middle='', last='the C-Hacker'):
    """
    The last name default is a fun joke, HA HA!
    """
    print(f'Your name is {first} {middle} {last}')
    return

In [ ]:
print_name("Dave", last="Beck", middle="Danger")

Your name is Dave Danger Beck

Play around with the above function.

In [ ]:
print_name('Dave', last='his Data Science Majesty')

Your name is Dave  his Data Science Majesty

In [ ]:
3

3

**DETOUR** into string formatting.  In the function `print_name` you may have noticed the `f` in front of the `"` quotation mark at the begining of the string. This is a special thing called an **f-string**.  Details on them, including how they are used and how they differ from other ways of embedding the value of string variables in new string is [here](https://realpython.com/python-f-strings/).  They are a relatively new language addition (Python >= 3.6), but they are the bees knees.

Put simply, when you put an `f` in front of the first quotation mark of a string (it can be `"` or `'`), the curly braces `{` and `}` can be used to enclose a variable name.  The value of that variable name when the **f-string** is evaluated will be substituted into the location of the curly braces.  Neat, right!

Some more examples:

```
my_favorite_number = 42
print(f"My favorite number is {my_favorite_number}.")
print(f"My favorite number times 2 is {my_favorite_number*2}.")

my_favorite_animal = "liger"
print(f"My favorite animal is a {my_favorite_animal}.")
print(f"What is a {my_favorite_animal} you ask?  It's pretty much my favorite animal. It's like a lion and a tiger mixed... bred for its skills in magic.")
```

my_favorite_number = 42
print(f"My favorite number is {my_favorite_number}.")
print(f"My favorite number times 2 is {my_favorite_number*2}.")

my_favorite_animal = "liger"
print(f"My favorite animal is a {my_favorite_animal}.")
print(f"What is a {my_favorite_animal} you ask?  It's pretty much my favorite animal. It's like a lion and a tiger mixed... bred for its skills in magic.")

In [ ]:
my_favorite_number = 42
print(f"My favorite number is {my_favorite_number}.")
print(f"My favorite number times 2 is {my_favorite_number*2}.")
 
my_favorite_animal = "liger"
print(f"My favorite animal is a {my_favorite_animal}.")
print(f"What is a {my_favorite_animal} you ask?  It's pretty much my favorite animal. It's like a lion and a tiger mixed... bred for its skills in magic.")

My favorite number is 42.
My favorite number times 2 is 84.
My favorite animal is a liger.
What is a liger you ask?  It's pretty much my favorite animal. It's like a lion and a tiger mixed... bred for its skills in magic.

**END DETOUR!**

Functions can contain any code that you put anywhere else including:
* if...elif...else
* for...else
* while
* other function calls

```
def print_name_age(first, last, age):
    print_name(first, last)
    print('Your age is %d' % (age))
    if age > 35:
        print('You are really old.')
    return
```

In [ ]:
def print_name_age(first, last, age):
    """
    prints a your name and age
    """
    print_name(first, last)
    print(f'Your age is {age}')
    if age > 35:
        print('You are really old.')
    return

```
print_name_age(age=46, last='Beck', first='Dave')
```

In [ ]:
print_name_age(age=46, last='Beck', first='Dave')

Your name is Dave Beck the C-Hacker
Your age is 46
You are really old.

In [ ]:
print_name_age()

Your name is Dave Beck the C-Hacker
Your age is 46
You are really old.

## 3.3 Pandas and the Scientific Python Toolkit

In addition to Python's built-in modules like the ``math`` module we explored above, there are also many often-used third-party modules that are core tools for doing data science with Python.
Some of the most important ones are:

#### [``numpy``](http://numpy.org/): Numerical Python

Numpy is short for "Numerical Python", and contains tools for efficient manipulation of arrays of data.
If you have used other computational tools like IDL or MatLab, Numpy should feel very familiar.

#### [``scipy``](http://scipy.org/): Scientific Python

Scipy is short for "Scientific Python", and contains a wide range of functionality for accomplishing common scientific tasks, such as optimization/minimization, numerical integration, interpolation, and much more.
We will not look closely at Scipy today, but we will use its functionality later in the course.

#### [``pandas``](http://pandas.pydata.org/): Labeled Data Manipulation in Python

Pandas is short for "Panel Data", and contains tools for doing more advanced manipulation of labeled data in Python, in particular with a columnar data structure called a *Data Frame*.
If you've used the [R](http://rstats.org) statistical language (and in particular the so-called "Hadley Stack"), much of the functionality in Pandas should feel very familiar.

#### [``matplotlib``](http://matplotlib.org): Visualization in Python

Matplotlib started out as a Matlab plotting clone in Python, and has grown from there in the 15 years since its creation. It is the most popular data visualization tool currently in the Python data world (though other recent packages are starting to encroach on its monopoly).

### 3.3.1 Pandas

We begin by loading the Panda's package.  Packages are collections of functions that share a common utility.  We've seen `import` before.  Let's use it to import Pandas and all the richness that pandas has.

```
import pandas
from sklearn.datasets import load_boston
```

In [ ]:
import pandas
from sklearn.datasets import load_boston

We import a function `_load_boston` that loads a simple data set we can play with called the Boston house price data from the late 1970s.

```
dataset = load_boston()
print(dataset.DESCR)
```

In [ ]:
dataset = load_boston()
print(dataset.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

```
df = pandas.DataFrame()
```

In [ ]:
df = pandas.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

Because we'll use it so much, we often import under a shortened name using the ``import ... as ...`` pattern:

```
import pandas as pd
```

In [ ]:
import pandas as pd

Let's create an empty _data frame_ and put the result into a variable called `df`.  This is a popular choice for a _data frame_ variable name.

```
df = pd.DataFrame()
```

In [ ]:
df = pd.DataFrame()

Let's open the Boston Housing data as a pandas data frame.  Notice we change the value of the `df` variable to point to a new data frame.

```
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)
```

In [ ]:

list(dataset.feature_names)

['CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT']

In [ ]:
df = pd.DataFrame(dataset.data, columns=dataset.feature_names)

*Note: strings in Python can be defined either with double quotes or single quotes*

### 3.3.2 Viewing Pandas Dataframes

The ``head()`` and ``tail()`` methods show us the first and last rows of the data.

```
df.head()
df.tail()
```

In [ ]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
df.tail()

        CRIM   ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
501  0.06263  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741  0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[5 rows x 13 columns]

The ``shape`` attribute shows us the number of elements:

```
df.shape
```

Note it doesn't have the `()` because it isn't a **_function_** - it is an **_attribute_** or variable attached to the `df` object.

In [ ]:
df.shape

(506, 13)

The ``columns`` attribute gives us the column names

```
df.columns
```

In [ ]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

The ``index`` attribute gives us the index names

```
df.index
```

In [ ]:
df.index

RangeIndex(start=0, stop=506, step=1)

The ``dtypes`` attribute gives the data types of each column, remember the data type *_floating point_**?:

```
df.dtypes
```

In [ ]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

### 3.3.3. Manipulating data with ``pandas``

Here we'll cover some key features of manipulating data with pandas

Access columns by name using square-bracket indexing:

```
df['CRIM']
```

In [ ]:
df['CRIM']

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: CRIM, Length: 506, dtype: float64

Mathematical operations on columns happen *element-wise*:

```
df['CRIM'] * 100.
```

In [ ]:
df['CRIM'] * 100.

0       0.632
1       2.731
2       2.729
3       3.237
4       6.905
        ...
501     6.263
502     4.527
503     6.076
504    10.959
505     4.741
Name: CRIM, Length: 506, dtype: float64

Columns can be created (or overwritten) with the assignment operator.
Let's create a CRIME per 100 individuals column.

```
df['CRIM_per_100'] = df['CRIM'] * 100
```

In [ ]:
df['CRIM_per_100'] = df['CRIM'] * 100

Let's use the `.head()` **_function_** to see our new data!

```
df.head()
```

In [ ]:
df.head()

      CRIM    ZN  INDUS  CHAS  ...  PTRATIO       B  LSTAT  CRIM_per_100
0  0.00632  18.0   2.31   0.0  ...     15.3  396.90   4.98         0.632
1  0.02731   0.0   7.07   0.0  ...     17.8  396.90   9.14         2.731
2  0.02729   0.0   7.07   0.0  ...     17.8  392.83   4.03         2.729
3  0.03237   0.0   2.18   0.0  ...     18.7  394.63   2.94         3.237
4  0.06905   0.0   2.18   0.0  ...     18.7  396.90   5.33         6.905

[5 rows x 14 columns]

In preparation for grouping the data, let's bin the regions by their crime count. For that, we'll use ``pd.cut``.  The documentation for ``pd.cut`` can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html). It is used to bin values into discrete intervals.  This is like a histogram where for each *bin* along the range of data values, you count the number of occurrences of that bin.  in our example, we'll use 10 bins and let Pandas decide how to evenly divide the range into the bins.  Let's see it in action.

```
df['CRIM_group'] = pd.cut(df['CRIM'], 10)
df.head()
df.dtypes
```

In [ ]:
df['CRIM_group'] = pd.cut(df['CRIM'], 10)

In [ ]:
df.head()

      CRIM    ZN  INDUS  CHAS  ...       B  LSTAT  CRIM_per_100        CRIM_group
0  0.00632  18.0   2.31   0.0  ...  396.90   4.98         0.632  (-0.0826, 8.903]
1  0.02731   0.0   7.07   0.0  ...  396.90   9.14         2.731  (-0.0826, 8.903]
2  0.02729   0.0   7.07   0.0  ...  392.83   4.03         2.729  (-0.0826, 8.903]
3  0.03237   0.0   2.18   0.0  ...  394.63   2.94         3.237  (-0.0826, 8.903]
4  0.06905   0.0   2.18   0.0  ...  396.90   5.33         6.905  (-0.0826, 8.903]

[5 rows x 15 columns]

In [ ]:
df.dtypes

CRIM             float64
ZN               float64
INDUS            float64
CHAS             float64
NOX              float64
RM               float64
AGE              float64
DIS              float64
RAD              float64
TAX              float64
PTRATIO          float64
B                float64
LSTAT            float64
CRIM_per_100     float64
CRIM_group      category
dtype: object

### 3.3.4 Simple Grouping of Data

The real power of Pandas comes in its tools for grouping and aggregating data. Here we'll look at *value counts* and the basics of *group-by* operations.

#### 3.3.4.1 Value Counts

Pandas includes an array of useful functionality for manipulating and analyzing tabular data.
We'll take a look at two of these here.

The ``pandas.value_counts`` returns statistics on the unique values within each column.

We can use it, for example, to break down the molecules by their mass group that we just created:

```
pd.value_counts(df['CRIM_group'])
```

In [ ]:
pd.value_counts(df['CRIM_group'])

(-0.0826, 8.903]    439
(8.903, 17.8]        44
(17.8, 26.697]       14
(35.594, 44.491]      3
(44.491, 53.388]      2
(80.079, 88.976]      1
(71.182, 80.079]      1
(62.285, 71.182]      1
(26.697, 35.594]      1
(53.388, 62.285]      0
Name: CRIM_group, dtype: int64

What happens if we try this on a continuous valued variable?

```
pd.value_counts(df['CRIM'])
```

In [ ]:
pd.value_counts(df['CRIM'])

14.33370    2
0.01501     2
0.08265     1
0.53700     1
1.35472     1
           ..
13.67810    1
0.88125     1
0.01951     1
0.49298     1
0.03578     1
Name: CRIM, Length: 504, dtype: int64

We can do a little data exploration with this by seeing how common different values are.  Here, let's look at the nitrious oxide concentration.

```
pd.value_counts(df['NOX'])
```

In [ ]:
pd.value_counts(df['NOX'])

0.538    23
0.713    18
0.437    17
0.871    16
0.489    15
         ..
0.385     1
0.394     1
0.518     1
0.422     1
0.389     1
Name: NOX, Length: 81, dtype: int64

#### 3.3.4.2 Group-by Operation

One of the killer features of the Pandas dataframe is the ability to do group-by operations.
You can visualize the group-by like this (image borrowed from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do))

![image](https://swcarpentry.github.io/r-novice-gapminder/fig/12-plyr-fig1.png)

Let's break take this in smaller steps.
Recall our ``CRIM_group`` column.

```
pd.value_counts(df['CRIM_group'])
```

In [ ]:
pd.value_counts(df['CRIM_group'])

(-0.0826, 8.903]    439
(8.903, 17.8]        44
(17.8, 26.697]       14
(35.594, 44.491]      3
(44.491, 53.388]      2
(80.079, 88.976]      1
(71.182, 80.079]      1
(62.285, 71.182]      1
(26.697, 35.594]      1
(53.388, 62.285]      0
Name: CRIM_group, dtype: int64

`groupby` allows us to look at the number of values for each column and each value.  The group by documentation is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html).  Basically, `groupby` allows us to create *groups* of records based on their values. Let's count how many records, or rows, in our data set fall into each bin of our CRIM data.

```
df.groupby(['CRIM_group']).count()
```

In [ ]:
df.groupby(['CRIM_group']).count()

                  CRIM   ZN  INDUS  CHAS  ...  PTRATIO    B  LSTAT  CRIM_per_100
CRIM_group                                ...
(-0.0826, 8.903]   439  439    439   439  ...      439  439    439           439
(8.903, 17.8]       44   44     44    44  ...       44   44     44            44
(17.8, 26.697]      14   14     14    14  ...       14   14     14            14
(26.697, 35.594]     1    1      1     1  ...        1    1      1             1
(35.594, 44.491]     3    3      3     3  ...        3    3      3             3
(44.491, 53.388]     2    2      2     2  ...        2    2      2             2
(53.388, 62.285]     0    0      0     0  ...        0    0      0             0
(62.285, 71.182]     1    1      1     1  ...        1    1      1             1
(71.182, 80.079]     1    1      1     1  ...        1    1      1             1
(80.079, 88.976]     1    1      1     1  ...        1    1      1             1

[10 rows x 14 columns]

Now, let's find the mean of each of the columns for each ``CRIM_group``.  *Notice* what happens to the non-numeric columns.

```
df.groupby(['CRIM_group']).mean()
```

In [ ]:
df.groupby(['CRIM_group']).mean()

                       CRIM        ZN  ...      LSTAT  CRIM_per_100
CRIM_group                             ...
(-0.0826, 8.903]   1.180608  13.09795  ...  11.186492    118.060838
(8.903, 17.8]     12.147610   0.00000  ...  20.938182   1214.761000
(17.8, 26.697]    21.582093   0.00000  ...  26.416429   2158.209286
(26.697, 35.594]  28.655800   0.00000  ...  20.080000   2865.580000
(35.594, 44.491]  39.180967   0.00000  ...  24.163333   3918.096667
(44.491, 53.388]  48.440950   0.00000  ...  23.545000   4844.095000
(53.388, 62.285]        NaN       NaN  ...        NaN           NaN
(62.285, 71.182]  67.920800   0.00000  ...  22.980000   6792.080000
(71.182, 80.079]  73.534100   0.00000  ...  20.620000   7353.410000
(80.079, 88.976]  88.976200   0.00000  ...  17.210000   8897.620000

[10 rows x 14 columns]

You can specify a groupby using the names of table columns and compute other functions, such as the ``sum``, ``count``, ``std``, and ``describe``.

```
df.groupby(['CRIM_group'])['NOX'].describe()
```

In [ ]:
df.groupby(['CRIM_group'])['NOX'].describe()

                  count      mean       std  ...    50%      75%    max
CRIM_group                                   ...
(-0.0826, 8.903]  439.0  0.535822  0.111496  ...  0.515  0.58500  0.871
(8.903, 17.8]      44.0  0.680318  0.054516  ...  0.693  0.72350  0.770
(17.8, 26.697]     14.0  0.680071  0.031448  ...  0.679  0.69825  0.740
(26.697, 35.594]    1.0  0.597000       NaN  ...  0.597  0.59700  0.597
(35.594, 44.491]    3.0  0.688333  0.008083  ...  0.693  0.69300  0.693
(44.491, 53.388]    2.0  0.645000  0.067882  ...  0.645  0.66900  0.693
(53.388, 62.285]    0.0       NaN       NaN  ...    NaN      NaN    NaN
(62.285, 71.182]    1.0  0.693000       NaN  ...  0.693  0.69300  0.693
(71.182, 80.079]    1.0  0.679000       NaN  ...  0.679  0.67900  0.679
(80.079, 88.976]    1.0  0.671000       NaN  ...  0.671  0.67100  0.671

[10 rows x 8 columns]

The simplest version of a groupby looks like this, and you can use almost any aggregation function you wish (mean, median, sum, minimum, maximum, standard deviation, count, etc.)

```
<data object>.groupby(<grouping values>).<aggregate>()
```

You can even group by multiple values: for example we can look at the CRIM and NOX grouped by the ``CRIM_group`` and ``NOX``.

## 3.5 Breakout for Functions and Pandas

Write a function that takes a column in Pandas and computes the [arithmetic mean](https://en.wikipedia.org/wiki/Arithmetic_mean) value of the data in it without using Pandas **_aggregate_** functions.

Compare that result to the one from Pandas **_aggregate_** function `.mean()`.  How did your values compare?  Were they exactly equal?  Did you expect them to be given what you know about **_floating point_** numbers?